{{ $f1 := resources.Get "js/f1.js" | js.Build | fingerprint }}
{{ $f2 := resources.Get "js/f2.js" | js.Build | fingerprint }}
{{ $f3 := resources.Get "js/f3.js" | js.Build | fingerprint }}
{{ $f4 := resources.Get "js/f4.js" | js.Build | fingerprint }}
<html>

<head>
    <script src="{{ $f1.RelPermalink }}"></script>
    <script src="{{ $f2.RelPermalink }}" integrity="{{ $f2.Data.Integrity }}"></script>
    <script src="{{ $f3.Permalink }}"></script>
    <script src="{{ $f4.Permalink }}" integrity="{{ $f4.Data.Integrity }}"></script>
</head>

<body>
    {{ block "main" . }}{{ end }}

    <ul>
        <li><a href="{{ $f1.RelPermalink }}">JS 1</a></li>
        <li><a href="{{ $f2.RelPermalink }}">JS 2</a></li>
        <li><a href="{{ $f3.Permalink }}">JS 3</a></li>
        <li><a href="{{ $f4.Permalink }}">JS 4</a></li>

    </ul>
</body>

</html>