{{ $f1 := resources.Get "js/f1.js" | js.Build | fingerprint }}
{{ $f2 := resources.Get "js/f2.js" | js.Build | fingerprint }}
{{ $f3 := resources.Get "js/f3.js" | js.Build | fingerprint }}
{{ $f4 := resources.Get "js/f4.js" | js.Build | fingerprint }}

<body>
    <script src="{{ $f1.RelPermalink }}"></script>
    <script src="{{ $f2.RelPermalink }}" integrity="{{ $f2.Data.Integrity }}"></script>
    <script src="{{ $f3.Permalink }}"></script>
    <script src="{{ $f4.Permalink }}" integrity="{{ $f4.Data.Integrity }}"></script>
</body>